/AVAudioEngine.xcworkspace/xcuserdata/arvindh.xcuserdatad/UserInterfaceState.xcuserstate
/AVAudioEngine.xcworkspace/xcuserdata/arvindh.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Pods
/node_modules
